.user-scores-parent-container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 0;
    padding-top: 40px;
}

.user-scores-container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
    width: 100%;
    max-width: 1350px;
    margin-top: 0;
}